@model IEnumerable<ORM.Models.Local>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="border:1px solid black">
    <thead>
        <tr style="background-color:#00000050; border-bottom:1px solid black">
            <th>
                @Html.DisplayNameFor(model => model.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="background-color:#1a19191e;">
                <td>
                    @Html.DisplayFor(modelItem => item.Rua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uf)
                </td>
                <td>
                    <button style="border-radius:5px; background-color:blue; padding: auto;"><a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration:none; color:whitesmoke">Edit</a> </button> |
                    <button style="border-radius:5px; background-color:greenyellow; padding: auto; "><a asp-action="Details" asp-route-id="@item.Id" style="text-decoration:none;color:purple">Details</a></button> |
                    <button style="border-radius:5px; background-color:red; padding: auto; "><a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration:none;color:whitesmoke">Delete</a></button>

                </td>
            </tr>
        }
    </tbody>
</table>
